# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env


.vscode/


# Logs
logs/
*.log
debug.log
error.log

# OS específico
.DS_Store
Thumbs.db

# Build
dist/
build/
coverage/

# Cloudinary temporary files
cloudinary-temp/


